/* Big Image Container with the text */
section {
  position: relative;
  text-align: center;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  height: 200px; /* set a fixed height for the table cells */
}

td img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}


.image-text {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 1px 1px #000;
}

.textNutrition {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: #a52929;
  text-shadow: 1px 1px #000;
}



